@font-face {
  font-family: 'AlegreyaBold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/AlegreyaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/AlegreyaSans-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaLight';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/AlegreyaSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/AlegreyaSans-Regular.ttf') format('truetype');
}
