@import '../../../stylesheets/main';

.a-button {
  padding: 5px;
  background-color: $color-orange;
  font-family: $font-italic;

  &--primary {
    height: 50px;
    font-family: $font-bold;
  }

  &--dark {
    background-color: $color-white;
    color: $color-orange;
  }

  &--hook {
    background-color: $color-aqua;
  }
}
